
@import url('https://fonts.googleapis.com/css?family=Abel');  
@import url('https://fonts.googleapis.com/css?family=Questrial');  
@import url('https://fonts.googleapis.com/css?family=Righteous');  
body{  
     background: #f3f3f3;  
     color: #333;  
     width: 100%;  
     font-family: sans-sherif;  
     margin: 0 auto;  
}  
.header{  
     background-image: url("4.jpeg");  
     background-repeat: no-repeat;  
     background-size: cover;  
     width: 90%;  
     margin: auto;  
     height: 300px;  
     line-height: 270px;  
     color: #fff;  
     text-align: center;  
     background-position: center;  
     font-size: 50px;  
     color: black;  
     font-family: 'Questrial', sans-serif;  
}  
.content{  
     width: 90%;  
     margin: auto;  
     height: 800px;  
     padding: 0.1px;  
     background: #fff;  
     color: #333;  
}  
.kiri{  
     width: 85%;  
     float: left;  
     margin: auto;  
     background: #fff;  
     height: 420px;  
}  
.kanan{  
     width: 15%;  
     float: left;  
     margin: auto;  
     background: #fff;  
     height: 420px;  
     position: sticky;  
     text-align: center;  
     padding-top: 30px;  
}  
.border{  
     border: 2px solid rgb(192,192,192);  
     margin-top: 1pc;  
     padding-bottom: 1pc;  
     padding-left: 2pc;  
     padding-right: 2pc;  
     height: 220px;  
}  
.undercor{  
     text-decoration: none;  
     border: 2px solid grey;  
     border-radius: 20px;  
     padding: 5px;  
     background-color: grey;  
     color: white;  
}  
h3{  
     font-family: 'Oswald', sans-serif;  
}  
p{  
     font-family: 'Abel', sans-serif;  
}  
h5{  
     color: #fff;  
     font-family: 'Righteous', cursive;  
     font-size: small;  
}  
.footer{  
     width: 90%;  
     margin: auto;  
     height: 40px;  
     line-height: 40px;  
     background: black;  
}  
.menu{  
     background-color: black;  
     height: 50px;  
     line-height: 50px;  
     position: relative;  
     width: 90%;  
     margin: 0 auto;  
     padding: 0 auto;  
}  
.jarak{  
     padding: 0 2pc;  
}  
.menu ul{  
     list-style: none;  
}  
.menu ul li a{  
     float: left;  
     width: 70px;  
     display: block;  
     text-align: center;  
     color: #fff;  
     text-decoration: none;  
}  
.menu ul li a:hover{  
     background-color: lightpink;  
     display: block;  
}  
.con{  
     margin-left: 400px;  
}  
img{  
     float: left;  
     width: 250px;  
     border-radius: 10px;  
}  
.btn{  
     background-color: rgb(192,192,192);  
     width: 80px;  
     padding: 5px;  
     border: 2px solid black;  
     border-radius: 20px;  
     cursor: pointer;  
     box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);  
}  
.btn:hover{  
     background-color: lightpink;  
}  
@media (max-width: 768px){  
     img{  
          float: none;  
          width: 250px;  
     }  
     .con{  
          margin-left: 0;  
     }  
     .kiri{  
          width: 75%;  
     }  
     .border{  
          padding-top: 20px;  
          height: 400px;  
     }  
     .content{  
          height: 1400px;  
     }  
}  
.active {   
  background-color: grey;   
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);   
}   
.fab{  
     color: pink;  
     margin-right: 10px;  
}  
.footer h5{  
     margin: 0;  
     float: left;  
     width: 85%;  
     height: auto;  
}  
